:root {
  background-color: #0b132b;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  font-family:
    'Poppins',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}
